---
layout: home
author_profile: true
classes: wide
title: "About Me"
---
<p>
    I am currently an Autonomy Engineer at <a href="https://www.skydio.com/" target="_blank">Skydio</a>. I obtained my Ph.D. from the <a href="http://bionics.seas.ucla.edu/" target="_blank">Bionics Lab</a> at the University of California, Los Angeles, under the supervision of <a href="http://bionics.seas.ucla.edu/people/rosen/jacob_rosen.html" target="_blank">Prof. Jacob Rosen</a>. My research focused on the control and estimation topics for physical human-robot interaction with exoskeleton and haptic robots, in the context of automated physical rehabilitation, and also included:
</p>
<ul>
    <li>Generating safety-focused virtual dynamics through admittance control for robotic systems</li>
    <li>Pose estimation, sensor fusion, and delay mitigation for physical human-robot interaction</li>
    <li>Feedback linearization-based control of nonlinear robot dynamics</li>
</ul>
<p>
    My former internship experience consists of one motion-planning and control internship at Skydio (Autonomy), two electrical engineering internships at Apple (Wearable Systems), and one software engineering internship at Intel (Programmable Solutions). My skillset includes robot control, software development, circuit design, and hardware verification.
</p>

<h2>Education</h2>
<ul>
    <li>
        <div class="black">Ph.D. in Mechanical Engineering (Systems and Control), 2024</div>
        <div class="lightgray smaller-font">University of California, Los Angeles (UCLA)</div>
    </li>
    <li>
        <div class="black">M.Sc. in Mechanical Engineering (Systems and Control), 2020</div>
        <div class="lightgray smaller-font">University of California, Los Angeles (UCLA)</div>
    </li>
    <li>
        <div class="black">M.Sc. in Electrical Engineering and Information Technology, 2019</div>
        <div class="lightgray smaller-font">Swiss Federal Institute of Technology (ETH Zürich)</div>
    </li>
    <li>
        <div class="black">B.A.Sc. in Engineering Science (Electrical and Computer Engineering), 2017</div>
        <div class="lightgray smaller-font">University of Toronto (UofT)</div>
    </li>
</ul>

<h2>Select Publications</h2>
{% assign entries = site.publications %}
{% assign entries = entries | sort: entries.date %}
{% assign entries = entries | reverse %}
<ul>
    {%- for post in entries -%}
      {%- unless post.hidden -%}
        {%- if post.selected -%}
            <li>
                <div class="black">{{post.title}}</div>
                <div class="smaller-font">{{post.authors | replace: "Jianwei Sun", "<b>Jianwei Sun</b>"}}</div>
                <i class="lightgray smaller-font">{{post.venue}}</i><br>
                {% if post.notice %}
                    <div class="black smaller-font">{{post.notice}}</div>
                {% endif %}
                {% if post.link %}
                    <button type="button" onclick="window.open('{{ post.link }}','_blank')" class="btn btn--inverse">IEEE Xplore</button>
                {% endif %}
                {% if post.pdf %}
                    <button type="button" onclick="window.open('{{ post.pdf }}','_blank')" class="btn btn--inverse">PDF</button>
                {% endif %}
                {% if post.citation %}
                    <button type="button" onclick="copyToClipboard(this, '{{ post.citation | escape }}')" class="btn btn--inverse cpy_btn">Copy Citation</button>
                {% endif %}
                {% if post.video %}
                    <button type="button" onclick="window.open('{{ post.video }}','_blank')" class="btn btn--inverse">Video</button>
                {% endif %}
            </li>
        {% endif %}
      {%- endunless -%}
    {%- endfor -%}
  </ul>

