---
layout: archive
---

{{ content }}

{% assign entries_layout = page.entries_layout | default: 'list' %}

<div class="entries-{{ entries_layout }}">
  {% assign entries = site[page.collection] %}

  {% if page.sort_by %}
    {% assign entries = entries | sort: page.sort_by %}
  {% endif %}

  {% if page.sort_order == 'reverse' %}
    {% assign entries = entries | reverse %}
  {% endif %}

  <ul>
    {%- for post in entries -%}
      {%- unless post.hidden -%}
        <li>
            <div class="black">{{post.title}}</div>
            <div class="smaller-font">{{post.authors | replace: "Jianwei Sun", "<b>Jianwei Sun</b>"}}</div>
            <i class="lightgray smaller-font">{{post.venue}}</i><br>
            {% if post.notice %}
              <div class="red smaller-font">{{post.notice}}</div>
            {% endif %}
            {% if post.link %}
              <button type="button" onclick="window.open('{{ post.link }}','_blank')" class="btn btn--inverse">IEEE Xplore</button>
            {% endif %}
            {% if post.pdf %}
              <button type="button" onclick="window.open('{{ post.pdf }}','_blank')" class="btn btn--inverse">PDF</button>
            {% endif %}
            {% if post.citation %}
              <button type="button" onclick="copyToClipboard(this, '{{ post.citation | escape }}')" class="btn btn--inverse cpy_btn">Copy Citation</button>
            {% endif %}
            {% if post.video %}
              <button type="button" onclick="window.open('{{ post.video }}','_blank')" class="btn btn--inverse">Video</button>
            {% endif %}
            {% if post.presentation %}
              <button type="button" onclick="window.open('{{ post.presentation }}','_blank')" class="btn btn--inverse">Presentation</button>
            {% endif %}
        </li>
      {%- endunless -%}
    {%- endfor -%}
  </ul>
</div> 